# SPDX-FileCopyrightText: 2025 STRATO GmbH
# SPDX-License-Identifier: AGPL-3.0-or-later

root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = tab
insert_final_newline = true
tab_width = 4

[{*.bash,*.sh,*.zsh}]
indent_size = 2

[{*.yaml,*.yml}]
indent_size = 2
indent_style = space
